{% extends "base.html" %}
{% block head %}
<style>
    .table th, .table td {
        text-align: center;
        height:38px;
    }
</style>
{% endblock %}
{% block body %}
{% block logo %}{% endblock %}
{% block dh %}{% endblock %}
<div class="container-fluid">
<div class="row">
    <div class="col-xs-12 col-md-12 col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>标签名</th>
                    <th colspan="2">操作</th>
                </tr>
            </thead>
            <tbody>
            {% if classify %}
            {% for i in classify %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td><a href="{{ url_for('admin.classify_edit', _id=i.id) }}">修改</a></td>
                    <td><a onclick="delcfm('{{ url_for('admin.classify_delete', _id=i.id) }}')" >删除</a></td>
                </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
</div>
<!-- 信息删除确认 -->
<div class="modal fade" id="delcfmModel">
  <div class="modal-dialog">
    <div class="modal-content message_align">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">提示信息</h4>
      </div>
      <div class="modal-body">
        <p>您确认要删除吗？</p>
      </div>
      <div class="modal-footer">
         <input type="hidden" id="url"/>
         <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
         <a  onclick="urlSubmit()" class="btn btn-success" data-dismiss="modal">确定</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    function delcfm(url) {
          $('#url').val(url);//给会话中的隐藏属性URL赋值
          $('#delcfmModel').modal();
    }
    function urlSubmit(){
       var url=$.trim($("#url").val());//获取会话中的隐藏属性URL
       window.location.href=url;
    }
</script>
{% endblock %}