{% extends "base.html" %}
{% block head %}
<style>
    .button{
        position:fixed;
        top:40%;
    }
    #buttonr{
        position:fixed;
        top:55%;
    }
#progress_in{
    position:fixed;
    top:70%;
}
</style>
{% endblock %}
{% block body %}
{% block logo %}{% endblock %}
{% block dh %}{% endblock %}
<div class="container-fluid">
    <div class="row">
        {% if mess %}
        <div class="text-center">
            {{ mess }}
        </div>
        {% endif %}
        <form method='POST' enctype='multipart/form-data' action="{{ url_for('admin.upload') }}">
            {{ form.hidden_tag() }}
				<div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4 col-xs-offset-4 col-sm-offset-4 button">
                    {{ form.video(class="filestyle", style="opacity: 0; position:absolute; height:100%; width:93%;",tabindex="-1",multiple="multiple") }}
                    <button type="form-group" class="btn  btn-primary  btn-lg btn-block">
                        <label for="input03" style="margin-bottom:0">
                            <span class="glyphicon glyphicon glyphicon-cloud" aria-hidden="true"></span><br>
                            <span id="mess">选择文件</span>
                        </label>
                    </button>
                </div>
                <div id="buttonr" class="col-md-12 col-xs-12 col-sm-12">
                    <div class="col-md-2 col-xs-2 col-sm-2 col-md-offset-4 col-xs-offset-4 col-sm-offset-4 text-center">
                    <button id="upload" onclick="uploadFile();"  type="submit" class="btn btn-default btn-primary  btn-lg">上传</button>
                    </div>
                    <div class="col-md-2 col-xs-2 col-sm-2 text-center">
                    <button type="reset" class="btn btn-default btn-primary  btn-lg">取消</button>
                    </div>
                </div>
            {% for error in form.video.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </form>
  </div>
</div>
{% endblock %}