<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
  <!-- Will be replace the page title -->
  <title>{% block title %}OVSS-I{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <!-- Macro: `render paginate` -->
  {% macro render_pagination(pagination, endpoint) %}
    <nav class="text-center">
      <ul class="pagination">
        <li>
        {% if pagination.has_prev %}
          <a href="{{ url_for('.home', page=pagination.prev().page)
            }}" aria-label="Previous">
        {% else %}
          <a href="{{ url_for('.home', page=1) }}" aria-label="Previous">
        {% endif %}
            <span aria-label="true">&laquo;</span>
          </a>
        </li>
        {% for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
              <li>
                <a href="{{ url_for('.home', page=page) }}">
                  {{ page }}
                </a>
              </li>
            {% else %}
              <li><a href="">{{ page }}</a></li>
            {% endif %}
          {% else %}
            <li><a>...</a></li>
          {% endif %}
        {% endfor %}
        <li>
          <a href="{% if pagination.has_next %}{{  url_for('.home', page=pagination.next().page )
            }} {% else %}#{% endif %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        <li>
      </ul>
    </nav>
  {% endmacro %}
    {% block head %}{% endblock %}
</head>
<body>
  <div class="container-fluid">
      <div class="row">
          {% block logo %}
        <!--LOGO部分-->
            <div class="col-md-12 col-sm-12 col-xs-12">
                LOGO
            </div>
          {% endblock %}
          {% block dh %}
            <div>
                <!--名字-->
                <div class="col-xs-3 text-center" style="background-color:rgba(0,0,0,0.3)">
                    <h4><a href="/">OVSS-I</a></h4>
                </div>
                <!--搜索框,导航栏-->
                <div class="col-xs-9 col-xs-offset-0 input-group btn-group" style="margin-top:0px positon:relative">
                    <input type="text" id="select" name="select" class="form-control"placeholder="请输入视频名" onkeydown="entersearch()" />
                    <span class="input-group-btn">
                        <button onclick="select()" class="btn btn-info btn-search">搜索</button>

                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">分类
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                        {% for classify in top_classifys %}
                              <li>
                                  <a href="{{ url_for('/.classify',classify_name=classify.name) }}">{{ classify.name }}</a>
                              </li>
                        {% endfor %}
                            <hr>
                            <li>
                                <a href="{{ url_for('admin.home') }}">后台</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
          {% endblock %}
        </div>
      <div class="row">
    {# flask flash 消息 #}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <a href="#" class="close" data-dismiss="alert">
                &times;
            </a>
            {{ message }}
            </div>
        {% endfor%}
      {% endif %}
    {% endwith %}
      </div>
  </div>
  {% block body %}
    {% endblock %}

  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script>
    function select(){
        var w = $("#select").val()
        window.location.href='/select/'+w
    }
    function entersearch(){
        var event = window.event || arguments.callee.caller.arguments[0];
        if (event.keyCode == 13)
        {
            select();
        }
    }
</script>
</body>
</html>